toolbox {
  float: right;
}

gallery {
  display: block;
  clear: both;
}

img .selected {
  border:1px solid black;
}

#hovercard {
  border:1px solid black;
  background-color:white;
  color:black;
}